version: '3.8'
services:
  mongo:
    image: mongo:latest
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    image: swarup98/crud-dd-task-backend:latest   # use your dockerhub repo
    container_name: backend
    restart: unless-stopped
    ports:
      - "8080:8080"
    depends_on:
      - mongo
    environment:
      - MONGO_URL=mongodb://mongo:27017/mydb

  frontend:
    image: swarup98/crud-dd-task-frontend:latest  # use your dockerhub repo
    container_name: frontend
    restart: unless-stopped
    ports:
      - "8081:80"
    depends_on:
      - backend

volumes:
  mongo-data:
